<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="http://10.0.10.54/js/jquery-1.8.2.js"></script>
<script type="text/javascript">

    function handler(data)
    {
      html.children('div').append(data.sort(function(a,b){
        return parseInt(a)-parseInt(b);  
      }).join('<br>'));
    }

    function getPeople(idconf, idsect, element, func)
    {
      html = element.parent();
      if (html.children('div').text().length == 0) $.getJSON('http://10.0.10.54/conferences/'+idconf+'/'+idsect+'/', func);     
      else {
        html.children('div').html("");
      }
    }

    var html;"getPeople('one','1',$(this),handler);"
</script>

<table width="100%">
<tr>
  <td width="10%"><b>9.30 – 11.00</b></td>
  <td width="90%">Выставка образовательных проектов (главный корпус ШГПИ, ул. К. Либкнехта, 3)<ul>
    <li> Педагогическая интернатура;
    <li> Центр по оказанию правовой и профилактической помощи несовершеннолетним и их родителям;
    <li> Поисковая работа как метод патриотического воспитания;
    <li> Юридическая клиника;
    <li> Студенческий отряд охраны «Легион»;
    <li> Центр непрерывного технологического образования;
    <li> Моделирование и конструирование автомобильной техники;
    <li> Весенний калейдоскоп;
    <li> Инновационные технологии в изобразительном искусстве и дизайне;
    <li> Научная лаборатория «Технология и методика преподавания английского языка»;
    <li> Центр методической литературы им. И.В. Гёте;
    <li> Научно-методический центр медиаобразования (Наука - журналистике);
    <li> Лаборатория медийного творчества «Press-mobile»;
    <li> Студенческое экскурсионное бюро «Исида»;
    <li> Вторичное трудоустройство студентов и перспективы дальнейшей занятости выпускников;
    <li> Организация учебных экскурсий;
    <li> Создание промышленно-образовательного кластера на базе ШГПИ и ООО «Дельта-технология»;
    <li> Лаборатория робототехники и мехатроники;
    <li> Молодежное научно-исследовательское сообщество имени А.П. Рымкевича;
    <li> Организация учебных экскурсий по робототехнике и истории развития ВТ;
    <li> Программа поддержки педагогических кадров по использованию ИКТ в системе образования;
    <li> Выставка творческих работ студентов и преподавателей.
  </td>
</tr>
<tr>
  <td><b>10.00 – 11.00</b></td>
  <td>Регистрация участников Форума (1 этаж, главный корпус ШГПИ)</td>
</tr>
<tr>
  <td><b>10.00 – 10.45</b></td>
  <td>Кофе – брейк</td>
</tr>
<tr>
  <td><b>11.00 – 13.00</b></td>
  <td>Торжественное открытие Форума. Пленарное заседание (актовый зал № 1, главного корпуса ШГПИ, ул. К. Либкнехта, 3)</td>
</tr>
<tr>
  <td><b>13.00-14.00</b></td>
  <td>Обед</td>
</tr>
<tr>
  <td><b>14.00-15.45</b></td>
  <td>Круглые столы:</td>
</tr>
</table>
<table id="table1" width="100%" border="1">
<tr>
  <td width="30%">Название</td>
  <td width="15%">Модератор</td>
  <td width="15%">Целевая аудитория</td>
  <td width="15%">Место проведения</td>
        <td width="25%">Участники</td>
</tr>
<tr>
  <td>Развитие сетевого взаимодействия учреждений общего и профессионального образования Курганской области</td>
  <td>к.фил.н., доцент Дзиов А.Р.</td>
  <td>Руководители образовательных учреждений</td>
  <td>&nbsp</td>
  <td><a ="#" onClick="getPeople('30oct2012','Развитие сетевого взаимодействия учреждений общего и профессионального образования Курганской области',$(this),handler);">Cписок</a><div></div></td>
</tr>
<tr>
  <td>Социально-педагогическая и правовая помощь детям инвалидам в условиях образовательного учреждения</td>
  <td>К.п.н. профессор Блясова И.Ю.</td>
  <td>Социальные педагоги, завучи по воспитательной работе, педагоги-психологи</td>
  <td>201 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','ks2',$(this),handler);">Cписок</a><div></div></td>
</tr>
<tr>
  <td>Проблемы дошкольного образования в современном образовательном пространстве</td>
  <td>К.п.н., доцент Барабаш В.Г.</td>
  <td>Специалисты дошкольного образования</td>
  <td>139 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','ks3',$(this),handler);">Cписок</a><div></div></td>
</tr>
<tr>
  <td>Профилактика детского дорожно-транспортного травматизма</td>
  <td>к.п.н., профессор Бурнашева Э.П.</td>
  <td>Учителя ОБЖ, ответственные за профилактику безопасности дорожного движения в школах</td>
  <td>318 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','ks4',$(this),handler);">Cписок</a><div></div></td>
</tr>
<tr>
  <td>Проблемы подготовки учащихся к ГИА и ЕГЭ по математике</td>
  <td>к.п.н., профессор Чикунова О.И.</td>
  <td>Учителя математики</td>
  <td>211 Б</td>
  <td><a ="#" onClick="getPeople('30oct2012','ks5',$(this),handler);">Cписок</a><div></div></td>
</tr>
<tr>
  <td>Физико-математическое образование: Проблемы и перспективы</td>
  <td>К.п.н., доцент Малахов А.А., к.п.н., доцент Выборова Н.Н.</td>
  <td>Учителя физики</td>
  <td>205 Б</td>
  <td><a ="#" onClick="getPeople('30oct2012','ks6',$(this),handler);">Список</a><div></div></td>
</tr>
</table>

<table width="100%">
<tr>
  <td width="10%"><b>14.00-15.45</b></td>
  <td width="90%">Тренинги:</td>
</tr>
</table>
<table id="table2" width="100%" border="1">
<tr>
  <td width="30%">Название</td>
  <td width="15%">Руководитель</td>
  <td width="15%">Целевая аудитория</td>
  <td width="15%">Место проведения</td>
        <td width="25%">Участники</td>
</tr>
<tr>
  <td>Тренинг взаимодействия в конфликте</td>
  <td>к.псих.н., доцент Колмогорцева Н.Н.</td>
  <td>психологи, педагоги-психологи</td>
  <td>корпус 3, ул. Кондюрина, 28, ауд. 309</td>
  <td><a ="#" onClick="getPeople('30oct2012','tr1',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>  
  <td>Арттерапевтические приемы в работе с детьми, имеющими ограниченные возможности здоровья</td>
  <td>к.псих.н., доцент Юдина В.А.</td>
  <td>Спец. Психологи, логопеды</td>
  <td>корпус 3, ул. Кондюрина, 28, ауд. 306</td>
  <td><a ="#" onClick="getPeople('30oct2012','tr2',$(this),handler);">Список</a><div></div></td>
</tr>
</table>

    <!--  Raw HTML content: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:1376/html [end] -->
    
  <!--  CONTENT ELEMENT, uid:1449/html [begin] -->
    <div id="c1449" class="csc-default" >
    <!--  Raw HTML content: [begin] -->
      <table width="100%">
<tr>
  <td width="10%"><b>14.00-15.45</b></td>
  <td width="90%">Мастер классы: </td>
</tr>
</table>
<table id="table3" width="100%" border="1">
<tr>
  <td width="30%">Название</td>
  <td width="15%">Руководитель</td>
  <td width="15%">Целевая аудитория</td>
  <td width="15%">Место проведения</td>
        <td width="25%">Участники</td>
</tr>
<tr>
  <td>Использование квалиметрического анализа для оценивания УУД учащихся школы</td>
  <td>Зуев П.В., д.п.н., профессор</td>
  <td>Учителя предметники</td>
  <td>107А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc1',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Алгоритм научного исследования учителей: написание статей и рефератов</td>
  <td>Деткова Н.Ю., к.культурологии, доцент</td>
  <td>Учителя предметники, учителя начальных классов</td>
  <td>205 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc2',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Особенности подготовки учащихся к ЕГЭ по физике</td>
  <td>Усольцев А.П., д.п.н., профессор</td>
  <td>&nbsp</td>
  <td>&nbsp</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc3',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Использование средств информационно-коммуникационных технологий для развития рефлексивных умений и мотивации учения или как помочь ребенку «приобрести мечту» в процессе обучения</td>
  <td>Устинова Н.Н., к.п.н., доцент</td>
  <td>Учителя предметники, учителя начальных классов</td>
  <td>102 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc4',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Использование бесплатных конструкторов сайтов для создания сайта учителя</td>
  <td>Кириллова О.А., к.п.н, доцент</td>
  <td>Учителя предметники, учителя начальных классов</td>
  <td>235 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc5',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Особенности работы с электронной почтой (yandex.ru, mail.ru)</td>
  <td>Гордиевских В.М., к.п.н., доцент</td>
  <td>Учителя предметники, учителя начальных</td>
  <td>237</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc6',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Создание графических объектов  в офисных приложениях</td>
  <td>Козловских М.Е., старший преподаватель</td>
  <td>Учителя предметники</td>
  <td>105 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc7',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Создание интерактивных объектов средствами ИКТ</td>
  <td>Каткова А.Л., к.п.н., доцент, Евдокимова В.Е., к.п.н., Белкина Е.Н., ассистент</td>
  <td>Дошкольные работники, учителя начальных классов</td>
  <td>120 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc8',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Современные подходы обучения каллиграфии в начальной школе</td>
  <td>Крючкова Т.А., к.п.н., доцент</td>
  <td>Учителя начальной школы</td>
  <td>222 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc9',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Технология обработки бумаги</td>
  <td>Парунина Л.В., к.п.н., доцент</td>
  <td>Учителя начальной школы</td>
  <td>107 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc10',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Обучение письму леворуких детей</td>
  <td>Черепанова Н.В., старший преподаватель</td>
  <td>Учителя начальной школы</td>
  <td>215 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc11',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Использование электронных ресурсов в системе дефектологического образования</td>
  <td>Алексеев И.А., к.псих.н.</td>
  <td>Спец. Психологи, дифектологи</td>
  <td>корпус 3, ул. Кондюрина, 28, ауд. 112</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc12',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Использование открытого банка заданий ЕГЭ по математике</td>
  <td>Бобровская А.В., к.п.н., профессор</td>
  <td>Учителя математики</td>
  <td>113В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc13',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Социальные трансформации в России</td>
  <td>Пундани В.А., д.ист.наук, профессор</td>
  <td>Учителя истории</td>
  <td>204 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc14',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Закономерности исторического развития в контексте цивилизационного подхода</td>
  <td>Зайцева Л.Ю., д.ист.наук, профессор</td>
  <td>Учителя истории</td>
  <td>203 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc15',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Немецкий: с перспективой на будущее</td>
  <td>Елизова Е.И., к.п.н., доцент Солонина Л.В., к.п.н., доцент</td>
  <td>Учителя немецкого языка</td>
  <td>132 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc16',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Приемы и способы работы с интерактивной доской на занятиях по английскому языку</td>
  <td>Ефимов Д.К., к.филол.н., доцент</td>
  <td>Учителя английского языка</td>
  <td>139 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc17',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Создание сайта учителя английского языка</td>
  <td>Дубаков А.В., к.п.н., доцент</td>
  <td>Учителя английского языка</td>
  <td>135 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc18',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Практическая биология</td>
  <td>Шарыпова Н.В., к.биол.н., доцент</td>
  <td>Учителя биологии</td>
  <td>302 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc19',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Картографическая грамотность учителя географии</td>
  <td>Суворова А.И., к.геогр.н., доцент</td>
  <td>Учителя географии</td>
  <td>310 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc20',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Особенности научного стиля</td>
  <td>Парилова Н.А., к.филол.н., доцент</td>
  <td>Учителя русского языка</td>
  <td>201 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc21',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Консольная установка и настройка служб поддержки сети, веб-служб и сервисов баз данных на ОС Linux</td>
  <td>Слинкин Д.А., к.п.н, доцент</td>
  <td>Учителя информатики</td>
  <td>219 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc22',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Робототехника</td>
  <td>Скубов А.Л., старший преподаватель</td>
  <td>Учителя информатики</td>
  <td>121 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc23',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Инновационные технологии обработки материалов</td>
  <td>Папировская С.Ю., к.п.н., доцент</td>
  <td>Учителя технологии (д)</td>
  <td> 301 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc24',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Дизайн и оформление холодных блюд</td>
  <td>Давыдова С.С., учебный мастер</td>
  <td>Учителя технологии (д)</td>
  <td>306 В</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc25',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Макетирование одежды</td>
  <td>Якова Н.В., Старцева М.А., к.п.н., доцент</td>
  <td>Учителя технологии (д)</td>
  <td>018 А</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc26',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Моделирование и конструирование автомобильной техники</td>
  <td>Осипов В.А., к.п.н., доцент</td>
  <td>Учителя технологии (м)</td>
  <td>Лаборатория авто-диагностики</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc27',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Новые технологии в живописи</td>
  <td>Брагин С.В., доцент</td>
  <td>Учителя ИЗО</td>
  <td>116, корпус 2</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc28',$(this),handler);">Список</a><div></div></td>
</tr>
<tr>
  <td>Современные материалы в оформлении кабинета изобразительного искусства в школе</td>
  <td>Жомов С.В., доцент</td>
  <td>Учителя ИЗО</td>
  <td>проектная мастерская, корпус 2</td>
  <td><a ="#" onClick="getPeople('30oct2012','mc29',$(this),handler);">Список</a><div></div></td>
</tr>
</table>
