<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>

<script type="text/javascript" src="/js/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/js/jquery.ui.position.js"></script>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/userapplication.js"></script>
<div class="container">
  <div class="row">
    <div class="span3">
      <form class="form-search" >
        <div class="input-append">
          <input type="text" class="span2 search-query">
          <button type="submit" id="search" class="btn">Поиск</button>
        </div>
      </form>

      <h4 style="text-align: center" id="newuserslabel">Новые пользователи отсутствуют</h4>
      <ul class="nav nav-tabs nav-stacked" id="newusers">

      </ul>
    </div>
    <div class="span9" id="mainframe">
      <ul class="breadcrumb" id="breadcrumb">
        <li id="active"><span class="divider">/</span></li>
      </ul>
      <ul class="nav nav-tabs nav-stacked" id="mainnav">
      </ul>
      <div id="modify">
      </div>
      <br>
      <br>
      <br>
      
      <div id="create">
      </div>
    </div>
  </div>
</div>