<div class="modal fade" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="moveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="moveModalLabel">Перенос</h4>
      </div>
      <div class="modal-body">
<!--         <div class="col-md-12"> -->
          <!-- {{selectedItemsForMove}} -->
          <select class="form-control" ng-model="selectedItemsForMove">
            <option ng-repeat="item in sectionList" value="{{item.id}}">{{item.name}}</option>
          </select>
        <!-- </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="move()">Перенести</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createModalLabel">Регистрация нового пользователя</h4>
      </div>
      <div class="modal-body">
        <label>ФИО</label>
        <input class="form-control" type="text" ng-model="newUser.name" placeholder="ФИО"/>
        <label>Место работы</label>
        <input class="form-control" type="text" ng-model="newUser.facility" placeholder="Место работы"/>
        <label>Должность</label>
        <input class="form-control" type="text" ng-model="newUser.post" placeholder="Должность"/>
        <label>Секция</label>
        <select class="form-control" ng-model="selectedItemsForMove">
          <option ng-repeat="item in sectionList" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendNewUser()">Зарегистрировать</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <button style="float: left;" data-toggle="modal" data-target="#createModal" ng-click="newUser()" class="btn">Создать</button>
    <div class="col-md-6 col-md-offset-2"><input type="search" class="form-control" placeholder="Фильтр" ng-model="filterOptions.filterText" /></div>
    <button style="float: right;" ng-click="reload()" class="btn">Обновить</button>
  </div>
  <div class="row">
    <!-- <div class="col-md-12"> -->
      <div style="height: {{height}}px;" ng-grid="gridOptions"></div>
     <!-- </div> -->
  </div>
</div>

<!-- <p ng-bind="data"></p> -->